[2016-06-11 05:58] srijs opened #1 "Support for Launch Configurations and AutoScaling Groups"
Hi!

I'm missing support for EC2 launch configurations and auto-scaling groups.

Any chance those could be added?

[2016-06-11 16:19] jdreaver commented on #1
Hey, thanks for the feature request!

I added all of the Auto Scaling Group resources and resource properties I could find in the CloudFormation docs to #2. Please let me know if I missed anything else you need.

Are you using stack? If so, are you comfortable trying this out by using the commit SHA from that PR in your `stack.yaml`, or do you want me to make a minor version release to Stackage? I

[2016-06-12 05:02] srijs commented on #1
Thanks for the quick response!

I tried out the branch and it looks good to me so far, except that I'm missing a way to add an UpdatePolicy to an auto scaling group.

[2016-06-12 16:28] jdreaver commented on #1
Ah you're right, I totally missed UpdatePolicy. It looks like I'll have to add CreationPolicy too (CreationPolicy looks a lot easier to implement). I'll try to get to it today.

[2016-06-12 19:29] jdreaver commented on #1
Hey @srijs, I've added the following to that branch:
* CreationPolicy
* UpdatePolicy
* An [example](https://github.com/frontrowed/stratosphere/blob/05494a048bd57e1f6cfe72134c852dc721f9a9ef/examples/auto-scaling-group.hs) that uses both of those things

Let me know if I missed anything!

[2016-06-13 06:01] srijs commented on #1
This is awesome, thanks! I'm able to convert all of my current Troposphere templates to Stratosphere now, and am super happy about the result :)

[2016-06-13 15:15] jdreaver commented on #1
Awesome! :smile:

I'm going to close this, merge that branch, and make a hackage release to version 0.1.2 today. Feel free to open an issue with any other deficiencies you find! So far I've only stuck to the parts of CloudFormation we use at Front Row, but the goal is to include everything else eventually.

[2016-06-13 15:15] #1 closed

[2016-08-16 17:13] timmytofu opened #8 "Where to put a sum type"
More of a question than an issue. Today I'm also hoping to add S3 resources (bucket and policy).

http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-s3-bucket.html

The `AccessControl` parameter would nicely fit a sum type, rather than leaving it entirely open as `Text`, but I'm not sure where to put this, module-wise, or how to reference it. The closest example I can fin

[2016-08-16 17:27] jdreaver commented on #8
Hmm, good call. We should probably create a new `Types` module under `library` for this, and then add it to the `Dependencies` section of a generated module's JSON file. I might take a crack at this today.

[2016-08-16 21:17] timmytofu commented on #8
Solved by #9

[2016-08-16 21:17] #8 closed

[2016-09-20 16:33] MichaelXavier opened #15 "0.1.5 release"
Hi there,

I noticed you added a 0.1.5 release to the changelog. I need some of the things I added in my project so I'm probably going to just submodule this project, but what else is needed before 0.1.5 gets released?

Thanks!

[2016-09-20 18:18] jdreaver commented on #15
Nothing is needed! I'll just cut the release now.

[2016-09-20 18:21] #15 closed

[2016-09-21 17:22] MichaelXavier opened #16 "Should cabal file be included in source control?"
I noted in the README you mention that it would be nice to not have to include generated code in git for this repo (but it seems unavoidable at this point). I'm wondering if the same can be said for the .cabal file which seems to be generated from package.yaml.

Here's my thinking: this project isn't a complete mapping of cloudformation resources yet. As a user, I'm happy to add those and submit a

[2016-09-21 17:40] jdreaver commented on #16
Good point. Is it possible for you to run hpack manually as part of some build process? That would generate the .cabal file for you.

You're right that the only real danger is them getting out of sync. Maybe I could add a CI command to ensure that the committed .cabal file matches the one generated by hpack.

[2016-09-21 21:53] MichaelXavier commented on #16
Yeah a build process would probably be reasonable. The trick there is you need to get used to going from funnelling all your dev tasks through cabal to a higher level tool (like shake, for example) that will run the project build tasks for you and create any necessary files. Its mainly a question of inertia, but its probably the right thing to do.

[2016-09-21 21:55] jdreaver commented on #16
The "build process" could be as simple as a shell script that first runs hpack, and then runs cabal. hpack is very quick, so I don't think you need something like shake.

[2016-09-21 22:29] MichaelXavier commented on #16
Yeah, I was mostly speaking of my case: I already have other assets I have to build like javascript stuff that is a more compelling argument for shake. Hooking something like shake into the cabal build (which you can do) is way more painful and sketchy than inverting that and hooking the cabal build into the build tool (be it shake or a shell script).

[2016-09-21 22:40] jdreaver commented on #16
Sounds good. I'll close this then. Let me know if it's super painful still without the .cabal file.

The other solution is to keep stratosphere more up to date and not wait weeks for a release after a change :smile: I have no problem with making tiny, incremental releases, so feel free to badger me to make a release if we merge a PR.

[2016-09-21 22:40] #16 closed

[2016-10-23 14:36] ababkin opened #23 "scraper fails to scrape resource page properly"
encountered an AWS CF resource page, from which the scraper managed to scrape only first two properties and completely ignored all the rest

https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-apigateway-restapi.html

[2016-10-23 21:08] jdreaver commented on #23
Yeah the AWS docs HTML is really inconsistent at times. In fact I'm amazed the scraper works as well as it does sometimes. I'll take a look though, hopefully this page is just a fluke and they haven't changed their docs page structure too much.

[2016-10-24 15:18] ababkin commented on #23
thanks, no rush really and not a showstopper by no means - i've added this just so it won't get lost

[2016-10-25 23:06] ababkin opened #24 "scraper sets "required: false" when it should be "required: true""
For this doc: https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-apigateway-method.html

generates:

[code]

when Required should be 'true' according to the doc

[2016-10-26 00:12] jdreaver commented on #24
Yeah it's probably because of the extra stuff after `Yes`. The scraper is not very smart.

[2016-10-26 17:17] jdreaver opened #27 "Add a lensPrefix field to JSON templates so we can avoid abbreviation collisions"
The abbreviation for `ApiGatewayModel` and `ApiGatewayMethod` are both `agm`. As a workaround, @ababkin renamed `ApiGatewayMethod` to `ApiGatewayVerb`. We need to add a field called `lensPrefix` to the JSON templates, rename `ApiGatewayVerb` back to `ApiGatewayMethod`, and then set `lensPrefix` for that to `agme`.

[2016-10-26 17:17] jdreaver opened #28 "Don't require examples to be compiled when library is compiled"
Right now the examples are uploaded to Hackage and compiling the library compiles the examples. That shouldn't be necessary.

[2016-10-26 18:23] tfausak commented on #28
Instead of moving them to another package, you could hide them behind a flag.

[2016-10-27 15:37] jdreaver commented on #27
Fixed by https://github.com/frontrowed/stratosphere/commit/8454f34d8e6c86b5dec3669ee980b6cbf63c3b05

[2016-10-27 15:37] #27 closed

[2016-10-27 18:25] jdreaver commented on #28
Fixed via 7ae8b2852e0b0b085afd46ddaa8c509a05ea93cc

[2016-10-30 18:14] #28 closed

[2016-11-16 16:02] #24 closed

[2016-11-17 14:54] #23 closed

[2016-11-19 01:24] amar47shah opened #33 "Basic Checker for Undefined Refs and Duplicate Field Names"
from the project README:

Implement basic checker for things like undefined Refs and duplicate field names. This stuff would be too unwieldy to do in types, and performing a checking pass over a template should be pretty straightforward.

I'd like to try my hand at this. Could y'all provide some details about:

1. the interface of the checker
2. specific cases, with input and output

Thanks!

[2016-11-19 03:12] jdreaver commented on #33
Hey @amar47shah!

I think the checker would have a type of something like: `Template -> [CheckError]`, and `CheckerError`
can be a sum type of various types of errors:

[code]

If there are no errors then of course we could return the empty list. It's up to the user to run the checker and to fail and/or print errors.

To find undefined `Ref`s, we have to gather all the allowed references from the

[2016-11-19 21:13] amar47shah commented on #33
Thanks, @jdreaver! I'll dive in and let you know soon how it's going.

[2016-11-22 03:40] amar47shah commented on #33
Took a crack at the easier problem of finding duplicates.

@jdreaver, let me know if this is on the right track:
https://github.com/amar47shah/stratosphere/blob/error-checker/library/Stratosphere/Check.hs

thanks!

[2016-11-22 03:44] jdreaver commented on #33
Oh wow, that's a very point-free function! Haha.

Yeah that looks great. Even just checking for duplicate field names is useful. I'm wondering what kinds of checks we can do besides checking for undefined refs, because that is probably not possible without a ton of work (and subsequently not really worth it because CloudFormation tells you instantly when a Ref is undefined).

[2016-11-23 04:52] amar47shah commented on #33
Thanks for having a look!

Would [this](http://stackoverflow.com/questions/27815489/is-it-possible-to-list-the-names-and-types-of-fields-in-a-record-data-type-that) be a worthwhile direction to pursue?

Are there any recurring problems that have come up in practice?

[2016-11-23 04:58] jdreaver commented on #33
Yeah, we'll have to do something similar to that, using Generics or Template Haskell to enumerate Ref values. We are also doing code generation from scratch, so we could find some class to implement that returns what we want. However, I don't want to do anything that will increase compilation time too much. Undefined Refs aren't too big of a problem in practice.

To be honest, not many. Whenever I

[2016-11-23 05:19] amar47shah commented on #33
Makes sense. I'd be interested to hear more about which types in this project could benefit from being stricter.

Is this duplicate checker useful? Would it be worth it to open a PR now?

[2016-11-23 20:25] jdreaver commented on #33
I usually try to fix them as I encounter them, so I don't have any off the top of my head :)

I think so. How about this: make a decent-sized comment explaining the purpose of the checker (catch errors that would be too expensive or unwieldy to encode in types), and saying it is experimental. That way new users won't get confused by what it is, and they won't think they have to use it.

Thanks for

[2016-11-23 23:10] jdreaver opened #35 "Use the AWS-provided JSON schemas, not our own custom ones"
AWS now provides a JSON schema for all of CloudFormation: http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/cfn-resource-specification.html

We could use this instead of using our own docs HTML scraper and custom schemas.

[2016-11-24 01:45] jdreaver commented on #35
If anyone wants to follow along, I'm working on the [`official-spec-file`](https://github.com/frontrowed/stratosphere/tree/official-spec-file) branch.

[2016-11-25 01:32] amar47shah commented on #33
PR opened. Thanks!

[2016-11-26 00:09] jdreaver commented on #33
Oh, I just thought of another thing we can check: properties whos `Required` value is conditional based on other properties. For each resource type with conditionally required properties, we can build a function that checks that these conditional requirements are valid. (I'm just writing this down here for the future, no need to jump on this :smile:)

[2016-11-26 18:50] DanBurton opened #38 "style suggestion: newtype instead of data for DuplicateProperty"
As seen on the Stackage build server building stratosphere-0.2.1:

[code]

[2016-11-26 20:43] jdreaver commented on #38
Oh interesting, my CI didn't show this problem. I wonder if the Stackage build is using a newer version of HLint. I'll investigate. Thanks!

[2016-11-26 20:55] jdreaver commented on #38
Yeah, this error is indeed from the latest version of HLint (see here https://hackage.haskell.org/package/hlint-1.9.38/changelog). It's so new it's not in the nightly snapshot yet haha.

I set `hlint-1.9.38` in `extra-deps` for now, and I fixed the error. I'll make a bug-fix release soon. Thanks for reporting this!

[2016-11-26 21:12] jdreaver opened #39 "Manually generate ToJSON/FromJSON instances instead of using Generic instances"
There is some compile-time and runtime overhead for using DeriveGeneric. I used Generic because it was a simple shortcut, but there is no reason we can't manually create the ToJSON and FromJSON instances via the code generator.

[2016-11-26 21:22] jdreaver commented on #38
Fixed via https://github.com/frontrowed/stratosphere/commit/7a5e559fb77bc3e2ca78ace1540da0269e50f173. I've uploaded version 0.2.2 to Hackage.

[2016-11-26 21:22] #38 closed

[2016-11-30 22:06] jdreaver commented on #35
Open PR here: https://github.com/frontrowed/stratosphere/pull/37

[2016-12-03 20:46] jdreaver commented on #35
Closed via #37

[2016-12-03 20:46] #35 closed

[2016-12-03 20:46] jdreaver commented on #33
Closed via #36

[2016-12-03 20:46] #33 closed

[2016-12-07 02:53] ababkin opened #40 "Impossible to specify Custom Resource Type or pass arbitrary arguments to a Custom Resource"
It appears to be currently **impossible** to:

1. Give an arbitrary type to a Custom CF Resource like for example Custom::MyFancyType. The Custom Resource type is currently fixed at AWS::CloudFormation::CustomResource, which is not too convenient as it is impossible to use one Lambda as a Provider for many Custom Resources. (i.e the Lambda needs to know what type of Custom Resource to provision)
(

[2017-02-19 23:25] #39 closed

[2017-05-02 01:48] jdreaver opened #45 "Update resource specification document to version after 1.2.1"
AWS recently updated the resource specification document to add a ton of Cognito resources. Unfortunately, it looks like the new material is full of bugs. There is a top-level resource property that has no documentation, and it looks like it was written by hand because it doesn't fit the schema at all. Also, there is a field that the code generator can't find a type for. Lastly, AWS didn't increme

[2017-05-06 01:27] jdreaver commented on #45
They spruced up the resource spec for version 1.3.1, but there are still a few errors. I have an open support case with AWS right now.

[2017-05-09 00:22] jdreaver commented on #45
See #46

[2017-06-21 14:30] #45 closed

[2017-06-21 14:39] jdreaver opened #47 "Remove all compilation warnings about unused exports from generated code"
This would be a good beginner project.

Currently, the template for Resource and ResourceProperty files just imports many modules that a Resource might need. For example, `Data.Text` and `Stratosphere.Values` are imported even if they aren't needed in that module. To be honest, it was just easier to have a static template for the imports.

We should probably create a module like `Stratosphere.Reso

[2017-07-20 20:00] MichaelXavier opened #49 "Stratosphere.ResourceProperties.EC2SecurityGroupRule vanished in 0.4.4"
Hi,

I'm upgrading packages and upgraded to stratosphere 0.4.4 and noticed the `Stratosphere.ResourceProperties.EC2SecurityGroupRule` module has vanished. Previously, the module linked to http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-ec2-security-group-rule.html which still exists and didn't show any sign of deprecation. If this was intentional, this should probably

[2017-07-20 20:24] jdreaver commented on #49
Hey @MichaelXavier!

That property actually got split up into two properties for ingress and egress (`EC2SecurityGroupIngressProperty` and `EC2SecurityGroupEgressProperty`). I guess they are being more stringent with which properties they allow on each one. That page you link to does indeed still exist, but you can see that they have two separate schemas, one for ingress and one for egress.

I pro

[2017-07-20 21:34] MichaelXavier commented on #49
@jdreaver thanks for the explanation, that make sense. Easy fix on my end. No need to make special accommodations, I've been in the same position. My solution is usually just as you propose: cut a breaking release in the next version you happen to release.

[2017-07-20 21:34] #49 closed

[2017-07-31 03:27] snoyberg opened #55 "Test suite compilation failure with GHC 8.2"
[code]

[2017-07-31 17:35] jdreaver commented on #55
Fixed by #56.

[2017-07-31 17:35] #55 closed

[2017-10-09 19:11] jdreaver opened #59 "Implement conditions for resources"
http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/conditions-section-structure.html

Currently we don't have a field for `Condition` on `Resource`. Also, we should probably change the type of `templateConditions` to `Map Text (Val a)` instead of just `Object`.

[2017-12-09 00:58] MichaelXavier opened #64 "DSL for Policies"
I was wondering if it would make sense for stratosphere to have another DSL for generating stack policies. It seems like a simpler and more stable API than templates and they are uploaded together.

[2017-12-09 21:49] jdreaver commented on #64
Hmm, stack policies seem very similar to IAM policies. I wonder if it would make sense to make an entirely separate package from `stratosphere` to generate IAM policies in general, and then CloudFormation stack policies can be a specific instance of that.

I'm thinking this should be a separate package from `stratosphere`, but it would be a very welcome addition to the current suite of Haskell AWS

[2018-02-11 21:43] #47 closed

[2018-02-27 23:58] MichaelXavier opened #72 "Prefix bug in template attributes"
If you run any of the examples, you'll notice all the toplevel keys will have the wrong prefix, e.g. `stack build && stack runhaskell -- examples/s3-copy.hs`, you'll see `eDescription`, `eResources`, etc. I first noticed this in #71 but I'll have a PR forthcoming. I suspect there was a refactor and the TH json modifier was not updated. Probably should be a test for this.

[2018-02-28 00:20] #72 closed

[2018-02-28 00:28] jdreaver opened #74 "Add some integration tests that validate JSON output"
@MichaelXavier recently found a pretty egregious bug where the JSON instances for the top-level fields weren't dropping enough characters. We should probably add some tests for that.

I'm thinking we should get rid of everything under `examples/` and just make some simple `hspec` tests that assert the JSON output of a `Template` is equal to some `aeson-qq` `Value`.

[code]

[2018-03-10 04:27] Znack opened #76 "Use (Val a) as a parameters for condition Equals"
I want at first thank you for this amazing library. We are migrating our project technology stack from Python to Haskell and I was very happy to find such cool alternative for Python's Troposphere :)

Today I have encountered the first problem: now `Equals` expects two `Val Bool` as parameters: `Equals (Val Bool) (Val Bool)`. Although AWS in their docs just point its as String: [docs](https://docs

[2018-03-10 15:34] Znack opened #77 "Is there a way to add AWS::CloudFormation::Init for a LaunchConfiguration"
`AWS::CloudFormation::Init` is the very useful and popular property often used with LaunchConfiguration, although I couldn't figure out how to set Metadata with `AWS::CloudFormation::Init` for my instances in the stack. As I understand it should be one of the field of `Resource` along with `_resourceProperties`, `_resourceCreationPolicy`, etc fields. Could someone please advice is there some worka

[2018-03-11 16:42] jdreaver commented on #76
Hey, thanks for the kind words! :smile:

Indeed, this looks like a total oversight on my part. This should be `Val a` instead of `Val Bool`. I've opened a PR at https://github.com/frontrowed/stratosphere/pull/78

[2018-03-11 16:55] #76 closed

[2018-03-11 17:06] jdreaver commented on #77
I think a good escape hatch here is to just add a `_resourceMetadata :: Maybe Object` field. That way you can at least add metadata, although it will be untyped in Haskell. Maybe in the future we can provide more structure here, although I don't know how much structure there could be fore `AWS::CloudFormation::Init`.

I've opened a PR at #79

[2018-03-11 21:45] #77 closed

[2018-03-11 23:47] jdreaver commented on #77
Hey @Znack, I just uploaded `stratosphere` version 0.19.0 that fixes both this issue and #76. Let me know if that version fixes any problems you have, and feel free to open more issues if you find new problems. Thanks for the bug reports and feature suggestions!

[2018-03-12 15:22] Znack commented on #77
Hello @jdreaver, I have checked the both `Equals` constructor and resource's Metadata — everything works like a charm! Thank you a lot for such quick help :)

By the way, today I encountered the another skipped AWS property: [Not](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/intrinsic-function-reference-conditions.html#intrinsic-function-reference-conditions-not) :) I'm going to

[2018-03-12 15:27] Znack opened #80 "Add "Not" Condition Function"
As I understand it should be quite straightforward to add such a feature because there are already great analogues. If you don't mind I would to open PR and suggest to do it myself, although I'm totally newbie in Haskell world and if you give me some contribution guide, I will do my best to extend stratosphere functionality :) The main question for me: what is the workflow to contribute, for examp

[2018-03-12 16:38] jdreaver commented on #80
Hey @Znack! Sure, I can help you contribute.

First, you should go to the file for `Stratosphere.Values`. Here it is on Github: https://github.com/frontrowed/stratosphere/blob/master/library/Stratosphere/Values.hs

What we want to do is add the `Not` function to the `Val a` type. Here is the definition of that: https://github.com/frontrowed/stratosphere/blob/a91f4251437b13e067883270e01aa6830a45c8e

[2018-03-13 02:41] Znack commented on #80
Hello, thanks for such detailed answer, I have cloned repo, now everything looks quite clear, and I will start my first attempts to make things working shortly :)

[2018-03-13 09:56] Znack commented on #80
Hey @jdreaver! I'm stuck with the next step :)

I did what you describe above, it was pretty easy and I suppose now everything is correct regarding `Not` itself, you can check [this commit](https://github.com/Znack/stratosphere/commit/ed030349e62d7ab35c6b5b957f32abbeacd711ca)

Although when I tried to use it in my project I have encountered the next problem with the code:

[code]
I cannot to use `

[2018-03-13 10:25] cdparks commented on #80
@jdreaver if you want the GADT version to work, we could maybe convert between an untyped representation and a typed GADT version like here: http://augustss.blogspot.ie/2009/06/more-llvm-recently-someone-asked-me-on.html

The untyped version is easier to (de)serialize, but then you need a separate "type checking" phase from `UntypedVal -> Maybe (TypedVal a)` and a "type erasing" phase from `TypedV

[2018-03-13 14:23] jdreaver commented on #80
Ahh, darn. Sorry about this, you are right @Znack.

You've correctly identified the root issue here. The type of `Equals` is

[code]

but we want

[code]

Indeed, we don't usually use these comparison functions at Front Row because we are already in Haskell, so we just do any computation like this in Haskell. Supporting them is definitely important though. I'll try to take a stab at fixing this to

[2018-03-14 10:23] Znack commented on #80
Yeah, it is looking like I encountered much deeper problem than I expected with `Not` :)

I've read those article (although it is still quite complicated for me and I'm not sure I understood all nuances there). I have also learned much deeper GADTs itself and made some experiments to understand the problem itself. And now I have few stupid questions :)

The main problem with GADTs and FromJSON ins

[2018-03-14 14:09] jdreaver commented on #80
Hey @Znack, thanks for all the research on this!

I think we have a few options here:
1. Use a GADT for `Val a` and use one of the methods outlined by you and @cdparks to convert between the untyped and typed representations in `FromJSON (Val a)`
1. Add some way to coerce `Val a -> Val b`
1. Use a GADT but add some "escape hatch" when reading `Val a` to just stuff anything not extremely simple in

[2018-03-14 15:00] Znack commented on #80
Thanks for explanations @jdreaver, it is useful for me to understand the possible approaches here :)

Of course, I understand that such a decision should be considered with a lot of attention and there should be some time to gather a feedback. I will follow the issue and learn the accompanying topics, today I read a lot of articles about the GADTs and hope eventually understand it quite well 😄

Ou

[2018-03-15 22:21] DanBurton opened #81 "Build failure with ghc 8.4"
Add semigroup instances.
See also: https://ghc.haskell.org/trac/ghc/wiki/Migration/8.4#SemigroupMonoidsuperclasses

[code]

[2018-03-16 18:59] jdreaver opened #83 "Move CI to CircleCI 2.0"
CircleCI is deprecating and removing their 1.0 CI system this summer.

[2018-03-16 20:03] #81 closed

[2018-03-18 16:26] Znack opened #84 "Make SuspendProcess property to be SuspendProcesses"
Hey again! I've encountered small typo in property name, now we have property that converts to `SuspendProcess` although [docs says](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-attribute-updatepolicy.html#cfn-attributes-updatepolicy-rollingupdate-suspendprocesses) (and our stack deployment approved 😄)  that this should be plural: `SuspendProcesses`.

I'm going to create PR f

[2018-03-18 17:31] #84 closed

[2018-03-18 18:03] jdreaver opened #86 "Don't encode bools, ints, and doubles as strings"
I was always under the impression that Bool, Int, and Double _must_ be encoded as JSON strings in CloudFormation. Apparently that is not the case, see https://github.com/frontrowed/stratosphere/pull/85#issuecomment-374023196.

We could probably change the `ToJSON` definitions of everything to not use `Bool'`, `Integer'`, and `Double'`. Then, in the `FromJSON` instances for those aforementioned typ

[2018-03-19 08:08] utdemir opened #87 "Stratosphere does not export Python3.6 Runtime for AWS Lambda"
AWS documentation says it's possible to use Python3.6 as a runtime for Lambda functions: https://docs.aws.amazon.com/lambda/latest/dg/API_CreateFunction.html#SSS-CreateFunction-request-Runtime

However Stratosphere does not export this: https://www.stackage.org/haddock/lts-11.1/stratosphere-0.19.1/Stratosphere-Types.html#t:Runtime

I do not know if this is a new addition and you only need to gener

[2018-03-19 14:27] jdreaver commented on #87
Ah thanks for reporting this! I've opened a PR at #88

[2018-03-19 15:57] #87 closed

[2018-03-19 21:26] utdemir commented on #87
Thank you, I appreciate the quick fix :).

Also thanks for this project, it is the only thing which makes using CloudFormation bearable.

[2018-05-01 19:46] ababkin opened #91 "Template validation error: Invalid template property or properties [FormatVersion]"
looks like
`FormatVersion` key in a CF template has been changed to `AWSTemplateFormatVersion`
I've updated my `stratosphere` to the latest `master` but it still renders templates with `FormatVersion`.

I found this, which should seemingly render the correct key, yet it is still `FormatVersion` when i run an example from the `examples` folder.
https://github.com/frontrowed/stratosphere/blob/5356dc

[2018-05-01 20:45] #91 closed

[2018-05-01 20:45] jdreaver commented on #91
Hey @ababkin! Oof, sorry about that. It should be fixed now!

[2018-05-01 22:14] ababkin commented on #91
This fixed it, thanks!

[2018-05-11 11:53] area55git opened #93 "Logo Proposal for Stratosphere"
Hi, I'm a graphic designer and I like to collaborate with open source projects. Do you know that the graphic image of a project is very important? thinking about it I would like to design a logo for your Project Stratosphere.

I will be pleased to collaborate with you.

[2018-06-03 07:38] utdemir opened #95 "Binary size with stratosphere"
Recently I noticed that Stratosphere was responsible for a large percentage of my binary size.

For example, below executable is 3.4 MB (with statically linked haskell libraries as in default GHC); but if you comment out the line which puts Stratosphere to the executable, it immediately becomes 36 MB.

[code]

I am aware that for most of the use cases this is not a big issue, but I am working on a

[2018-06-03 13:34] jdreaver commented on #95
The reason we have a big sum type and a single package is so we can _read_ template files with types as well as write them. I'm considering abandoning that requirement though, since I'm not sure anyone does that very often. I'd love to retain _some_ way to read templates in a type-safe way though, since splitting up this package could have a lot of benefits (compile time of dependencies, for one).

[2018-06-03 23:45] utdemir commented on #95
Hi @jdreaver , thank you very much for you detailed answer.

Now I understand the reasoning behind the big sum type, thank you. I understand that being able to read the template files can be useful; so it is totally up to you to decide :).

You are right, the approach you mentioned would work perfectly for me. But then I have no idea how you'd implement the read logic there.

I tried compiling `st

[2018-08-21 14:13] #93 closed

[2018-10-20 22:18] andreyk0 opened #102 "Hackage documentation seems missing"
https://hackage.haskell.org/package/stratosphere

OTOH stackage seems Ok
https://www.stackage.org/lts-12.13/package/stratosphere-0.24.4

Is this something that could be fixed?
It's not the end of the world but hackage is still the 1st link on Google and other tools (e.g. https://kapeli.com/dash) look there as well.

Thanks!

[2018-10-23 16:36] jdreaver commented on #102
I've seen various scripts in the past to upload Haddock docs to Hackage directly, but I'm not sure I want to spend time re-learning how to do that automating keeping those updated. Like you said, the Stackage docs work great (and are generated very quickly in my experience).

I'll go ahead and leave this open in case someone can find a no-pain, automated solution here.

[2019-02-14 16:51] andreyk0 opened #111 "Missing AWS::EC2::VPCEndpointService and other discrepancies"
Hi, guys!
This is probably more of an FYI and a question than an issue report but wanted to mention.

We ran into an issue with `AWS::EC2::VPCEndpointService` being missing in the API, which turned out to be an AWS problem, we have a support ticket open.
Similarly just bumped into another issue where AWS published resource property as an `VPCEndpointType` where's it has to be `VpcEndpointType`.

B

[2019-02-14 19:44] jdreaver commented on #111
We can't use `patch` on the raw JSON effectively because the diffs on that are horrendous; stuff gets moved around all the time for no reason.

I actually do have an ad-hoc patching mechanism in the Haskell code. Check out this function https://github.com/frontrowed/stratosphere/blob/34827b93db58495a60896b4cb132353bc0734e5c/gen/src/Gen/Specifications.hs#L44-L94

I haven't touched it in a while so

[2019-02-14 20:41] andreyk0 commented on #111
Cool, thanks for the pointers!
I'll hack this for now in our fork so that we can deploy something but I'll come back afterwards and try to do it your way.
This AWS JSON is much messier than I ever imagined, seems to be completely ad-hoc. Tried to pull latest version of it before I make tweaks and there are properties and doc sections missing, they've introduced `Map` type that seems to be synonymo

[2019-02-15 00:04] jdreaver commented on #111
Yeah the JSON is super useful, but it has a ton of warts.

That actually looks like a bug to me. I just manually edit it back to `Json`.

[code]

I should probably talk to AWS support about it :grimacing:

[2019-02-16 00:20] andreyk0 commented on #111
Please take a look: https://github.com/frontrowed/stratosphere/pull/112
This seems to work for me. I've refrained from updating to the latest JSON spec for now (which has other warts), just focusing on these for now.

Thanks for your help!

[2019-02-18 09:58] kelizarov commented on #59
Hi. I can open a PR with a fix for Condition on Resource. I'm pretty novice at haskell but I think it's not that hard with given structure of project. I already forked the project to see how it would work on our template. You can quickly check the commit here https://github.com/kelizarov/stratosphere/commit/04428b9ddb3ce386bacbb73300ca0a37a9ad7dc3

But I couldn't check if that doesnt break anythin

[2019-02-19 21:45] #59 closed

[2019-02-23 00:06] andreyk0 commented on #111
@jdreaver I've updated the code some more. Tried to apply your pattern of "fixing JSON warts in the code" all the way. Downloaded latest spec JSON using your script and with latest code tweaks it generates / compiles.

Please let me know let me know what you think. I'm happy to make more changes if you don't like something.

I didn't commit the results of codegen but you can see them here: https:/

[2019-02-23 16:52] jdreaver commented on #111
Hey @andreyk0 thanks a lot! I'll move discussion over to that PR.

[2019-03-02 17:25] jdreaver opened #117 "Stratosphere takes too much RAM to compile"
We are starting to hit the 4 GB limit of CircleCI on newer GHC versions. In particular, compiling the big `Resources` module is gnarly. I can think of a few options:

1. Pay for a larger build machine. We are on the Freckle github org, so maybe we can just use a larger build machine and it will go to our company bill?
2. Get rid of the big `ResourceProperties` sum type. We used to want that so `Fr

[2019-03-03 22:14] utdemir commented on #117
Relevant issue: https://github.com/frontrowed/stratosphere/issues/95

[2019-03-07 15:59] andreyk0 commented on #117
We are bumping into this too a bit, option (2) sounds good!

[2019-03-11 09:56] Znack commented on #117
If we get rid of `FromJSON` we can also consider to implement #80 in new ways :)

[2019-03-11 16:42] jdreaver commented on #117
Yeah when I compile on my laptop, even with `--fast`, `stack` barely uses memory _until_ we compile `Stratosphere.Resources`. Then we go above 4.5 GB. I'm leaning towards at removing `FromJSON` and the big resource sum type.

Thanks for the feedback everyone!

[2019-03-11 17:44] jdreaver commented on #117
Fixed via https://github.com/frontrowed/stratosphere/pull/118  :tada:

Simply removing `FromJSON` fixed everything. I didn't have to touch `ResourceProperties` at all (although I'm not a fan of that sum type even having to exist...).

[2019-03-11 17:44] #117 closed

[2019-03-11 19:45] utdemir commented on #95
After #118, I think we are one step closer solving this PR. @jdreaver do you have plans for removing `ResourceProperties` type in future? I think it might solve this issue too.

[2019-03-11 19:47] jdreaver commented on #95
Yeah I'm planning on removing that. I'll definitely need to do it in another PR and solicit feedback from folks, plus use it on all of our templates at Freckle to see how painful migrating is.

[2019-03-11 21:21] #83 closed

[2019-03-12 21:07] jdreaver commented on #95
Hey @utdemir you mentioned this would be fixed after #121 was merged. Let me know if it isn't!

[2019-03-12 21:07] #95 closed

[2019-03-16 03:11] #86 closed

[2019-03-18 00:00] jdreaver commented on #111
FYI It looks like VPC Endpoint exists in the spec doc now. See https://github.com/freckle/stratosphere/blob/master/library-gen/Stratosphere/Resources/EC2VPCEndpoint.hs

[2019-03-18 22:05] andreyk0 commented on #111
Awesome! Thanks for your help!
Updating our stuff to the latest ...

[2019-03-18 22:27] andreyk0 commented on #111
Oh, sorry, spoke too soon ... `AWS::EC2::VPCEndpointService` is still missing.
It **is** confusing, they have similar names but they **are** different resources:
* https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-ec2-vpcendpointservice.html
* https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-ec2-vpcendpoint.html

Can we re-open this issue or sho

[2019-03-18 22:31] andreyk0 commented on #111
How do you prefer to handle this?
Should I rebase / clean up my earlier patch against the latest `master` ?

[2019-03-18 22:40] jdreaver commented on #111
Has AWS support gotten back to you about the resource spec doc updates?

To be honest, I hesitate to add all of these resources/properties manually outside of the resource spec doc. I don't want to accidentally diverge from what the spec doc dictates when this stuff is eventually added. Is it possible for you to maintain a fork of this project until these resources are added?

[2019-03-18 22:50] andreyk0 commented on #111
I got the usual "thank you, blah, blah, can't promise, blah, watch our blog" response.
In other words - no idea **when** it'll get actually fixed.

On the other hand, now that we have
[code]

[2019-03-19 15:14] #80 closed

[2019-03-19 19:18] andreyk0 commented on #111
Ok, your recent changes made this workaround easier, thanks!
Indeed I don't have to maintain a full fork anymore, can just add one affected resource to my project and implement `ToResourceProperties`.

If anyone else bumps into this, here it is for reference:
[code]

[2019-03-19 19:20] jdreaver commented on #111
Oh wow I hadn't even thought of the fact that no more big sum type means people can implement their own resources. Cool!

[2019-09-17 14:12] dmateusp opened #140 "CodeBuildProjectTriggersFilterGroups should be list of lists"
Hi there, stratosphere seems to have a wrong spec here:

AWS Cloudformation docs FilterGroups is defined as a `list of lists` of WebhookFilter objects (https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-codebuild-project-projecttriggers.html) but in stratosphere it's a list of WebhookFilter (https://github.com/freckle/stratosphere/blob/14efb6e934263ea873e10c152f354f637a4

[2019-09-17 15:06] jdreaver commented on #140
Hey @dmateusp, good catch! The current AWS spec document has tons of errors that I have to manually fixed. I must have messed up fixing this one.

[2019-09-18 22:01] jdreaver commented on #140
The definition of filter groups in the spec file from AWS looks like this:

[code]

Unfortunately, this does not follow their published spec (see https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/cfn-resource-specification-format.html). I opened an Enterprise support ticket with AWS about a few of these ill-defined resources a month ago and I still haven't received a response. I'm wai

[2019-09-19 08:45] dmateusp commented on #140
Ah I see :/ thank you for looking into it!

[2020-01-20 01:20] PatMyron commented on #111
[`AWS::EC2::VPCEndpointService`](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-ec2-vpcendpointservice.html) is now in the [CloudFormation Resource Specification](https://d1uauaxba7bl26.cloudfront.net/latest/gzip/CloudFormationResourceSpecification.json)

---

Sorting with [jq](https://stedolan.github.io/jq/) reduces diff noise

---

The [CloudFormation Linter](https:/

[2020-02-26 15:40] andreyk0 commented on #111
Yeah, we can close this, confirmed that `VPCEndpointService` is there and generates same output.

@PatMyron in my opinion *ideally* AWS CloudFormation team would take care not to release broken/incomplete specifications and, when they do, quickly react to customer support tickets (which we've immediately raised) about such issues. The very fact that multiple patch versions of their published spec

[2020-02-26 15:40] #111 closed

[2020-02-26 16:09] jdreaver commented on #111
Yeah I've become increasingly frustrated with this spec document. In fact, I actually totally ignore `WAFv2` resources because almost all of them are malformed

https://github.com/freckle/stratosphere/blob/880c3cae4c2360f71c601f6a88c9e8cdbda9ea7c/gen/src/Main.hs#L27-L35

[2020-11-20 17:22] mbj opened #184 "Argument list too long on macosx / ideas?"
I know this is essentially more an issue with stack/cabal/ghc.

Still as this projects triggers it I'm asking here if anyone knows a workaround to get a rid of:

[code]

This is using `stack-2.5.1` on Github actions.

As I'm posting this I'm rebuilding with verbosity to find the exact GHC command.

I hope its okay I ask for input here, as I assume others may have hit it already and have a workarou

[2020-11-20 17:44] jdreaver commented on #184
Oh wow that looks annoying. I'm assuming it is because there are so many modules?

[2020-11-20 17:55] mbj commented on #184
@jdjacobrli I assume it happens at the moment the various smaller modules get assembled into a bigger package, and each module is likely referenced with an absolute path, overflowing the character limit.

I'm sure there is a workaround, but blocked by private issues for the next 60min. Will post my progress on debugging this.

[2020-11-24 03:48] mbj commented on #184
This is a public build showing the issue, this is with `stack --verbose`. Not showing the full CLI.

I suspect its the github actions environment leading to longer paths. https://github.com/mbj/stack-deploy/runs/1445686795?check_suite_focus=true#step:6:11422

[2021-11-29 04:56] juhp opened #185 "fails to build with aeson-2.0"
[code]

[2022-04-06 16:10] pbrisbin opened #186 "Call for new maintainer"
At Freckle, we are moving away from the tooling that uses Stratosphere and are looking for someone to take over maintenance of this package. It will likely need significant updates, particularly to address #185 and #184.

@jdreaver as the original author, would you like to take over ownership of this package?

Tagging other historical contributors,

- @ababkin
- @MichaelXavier
- @timmytofu
- @mbj

[2022-04-06 16:26] jdreaver commented on #186
Hey @pbrisbin! I don't use this either anymore, so if we can't find a maintainer I think we should just archive this repo.

Also, I think I have the Hackage ownership bits, so if someone wants to step up and maintain this package I can transfer those as well.

[2022-04-06 16:28] pbrisbin commented on #186
:wave: sounds good!

I'll leave this issue open for a few weeks then proceed with abandoning :smiling_face_with_tear:

[2022-04-06 21:22] mbj commented on #186
I'd generally be interested, I've solved #185 https://github.com/freckle/stratosphere/compare/master...mbj:add/aeson-2-support (not PR ready, I'd split the commits etc). And verified that #184 is a module count issue with `stack` and `ghc` hence to unblock my teams I created a "redux" branch where I removed services we do not use to get it to compile.

A solution for #184 may be to break this pack

[2022-04-06 21:25] jdreaver commented on #186
I'll let Pat respond for Freckle, but for context I now work at Stripe and we use Terraform generally (and not Haskell).

One thing I'll note for future maintainers is the last few times I updated the JSON model file from CloudFormation, I realized the document doesn't follow their published schema :cry: I had to manually edit the doc for codegen to work.

[2022-04-06 21:25] mbj commented on #186
I'm aware of this, I have a (never published) dhall version of stratopshere.

[2022-04-06 21:28] jdreaver commented on #186
Oh that's neat! In that same vein, if I were to recreate something like `stratosphere` today, I would build it on top of Dhall or [CUE](https://cuelang.org/) and just ship the generated JSON to the CloudFormation API.

[2022-04-06 21:31] mbj commented on #186
OT on dhall / external language:

I use some extensive metadata driven generation of stratopshere EDSL, which I also re-use in my apps. This way for example there cannot be "unreferencable" ENV variables in lambda/ECS.

Once I found this property to be super useful, I stopped my dhall approaches to avoid impedance mismatch.

So I'd have a domain specific sum type like:

[code]

And than iterate ov

[2022-04-06 21:33] jdreaver commented on #186
Ah that makes sense. I think the canonical solution to bridge the gap would be to define `ServiceTypes` in Dhall/CUE/whatever and then codegen that into a Haskell sum type. I can see why that could be a massive PITA though and why just embedding in Haskell is simpler :smile:

[2022-04-06 21:33] pbrisbin commented on #186
Yeah, that seems like the right solution to me.

We've learned that working with plain CloudFormation Templates (in yaml) is best for us:

- Able to actually use in-the-wild docs and examples without having to translate to the DSL
- Familiar with AWS, but not Haskell, is all you need to contribute
- Tools like `cfn-lint` have been really useful, and actually catch a lot of bugs our types were catc

[2022-04-06 21:35] mbj commented on #186
I've never announced it but I have an equivalent (building on top of `stratosphere` and `amazonka`): `stack-deploy`.

It works via providing the concept of an "instance-spec" tying up the template + parameters into a lifecycle.

Its here: https://github.com/mbj/mhs/tree/main/stack-deploy (glorious docs, thats sarcastic).

Glad to see that we have parallel evolution here.

[2022-04-06 21:38] mbj commented on #186
So overall my plans for stratosphere would be:

* Get it closer to amazonka-2 (also in field naming, they made lots of progress there)
* Break up into subpackages.

I'd probably not do any maintenance releases of the current 0.59.1 but aeason-2 support, or similar ecosystem wide changes, that are relatively easy to fix.

Lets wait a bit for other to chime in before coming to a conclusion here.

[2022-04-06 21:40] pbrisbin commented on #186
Ah yes, that sounds exactly like [what we have](https://github.com/freckle/stackctl/blob/main/doc/stackctl.1.md#stack-specifications), which was inspired by [CloudGenesis](https://medium.com/@rmmeans/gitops-for-cloudformation-announcing-cloudgenesis-55bbc44495b6).

I think this gap is mostly filed by CDK, but if you exclude coding in an actual programming language, something along these lines is p

[2022-04-06 21:42] mbj commented on #186
Yeah, but it may be someone else can offer better community wide support than me.

[2022-04-06 21:43] mbj commented on #186
RE stack-deploy etc:

I found it very useful to have a "frontend" CLI that provides 0 dynamic ability, and the option to extend it with "implicit parameters" generated at runtime.

In my case I can do some fun stuff like hashing secrets to trigger invalidation of CF definitions allowing me to stay even more declarative than standard CF.

[2022-04-06 21:44] mbj commented on #186
I personally prefer CF over terraform as AWS integrates better and provides me the global state handler / lock manager. Avoiding the need to deploy that first.

[2022-04-06 21:45] pbrisbin commented on #186
Yeah ditto that. Maybe I can convince you to use (and contribute) to Stackctl one day, after I get it properly announced.

[2022-04-06 21:46] mbj commented on #186
I do not ever want to maintain `.yaml` based templates again. Even with linters, these are "gah" ;)

[2022-04-27 12:47] pbrisbin commented on #186
Alright, it has been two weeks with no movement, so I think we're good to transfer to @mbj.

If there are no objections, I will:

1. Transfer this repository to `mbj/stratosphere`
2. Ask @jdreaver to add @mbj as a Hackage maintainer

@mbj can you confirm, and let David know your Hackage username?

[2022-05-03 21:23] mbj commented on #186
@pbrisbin, @jdreaver  My hackage user name is `mbj`.

You want me to remove existing hackage users on the package later, or stay as a backup? I'm fine with either.

[2022-05-03 23:10] jdreaver commented on #186
Hey @mbj, I just added you! I'm the only other maintainer. Feel free to keep me on as a backup if you want, totally up to you.

https://hackage.haskell.org/package/stratosphere/maintainers/

[2022-05-03 23:12] jdreaver commented on #186
I should also mention, all of the license/copyright bits say

since I originally made this in my spare time under my own Github account, but transferred it to the Freckle Github org at the behest of the CTO at the time so we could expand our open source footprint. I've never dealt with transferring copyright bits like that. Should we change it from "David Reaver" to "Stratosphere maintainers"? Doe

[2022-05-04 03:48] mbj commented on #186
I've limited experience in the field, so do not take me as an authoritative source:

You accepted contributors so its all "mixed" up at this point.

This means anyone in [the contributors](https://github.com/freckle/stratosphere/graphs/contributors) list would have to agree to a copyright re-assignment (or remove contributions). This should not be the way to go.

Instead I'd argue to do change it

[2022-05-04 03:49] mbj commented on #186
will keep you on for the time being, but may later remove you if we had no interactions for a longer time. I do the same for my ruby OSS where I have co-maintainers, if some years pass I reduce credential exposure.

[2022-05-04 12:23] pbrisbin commented on #186
Just tried the transfer,

I think you have to remove your fork first @mbj, then I'll try again. In the meantime, I'm going to transfer it from the org to myself, so that I can then transfer it to you.

[2022-05-04 12:49] mbj commented on #186
give me a day, I've to first change the references to my fork at work to a copy of my fork.

[2022-05-04 13:04] pbrisbin commented on #186
Would it be faster to merge whatever you have in your fork upstream (now pbrisbin/stratosphere) then (quickly) delete-and-transfer? Anything references mbj/stratosphere would get the same code before/after.

[2022-05-04 13:40] mbj commented on #186
I'm almost done my side, so `mbj/stratosphere` is free now. I'll re-push my branches (no need to merge) there to keep my builds passing.

my branches are not ready to be merged as I hacked the generator output vs fixing it (For aeson-2).

[2022-05-04 13:51] mbj commented on #186
To be clear, you can move to `mbj/stratosphere` now, I'll handle it from there.

[2022-05-04 14:13] pbrisbin commented on #186
:thinking: unclear what this means and how to get around it.

I might give it a day and try again -- all this deletion and transfer may need time to be eventually consistent in GitHub systems.

[2022-05-04 14:16] mbj commented on #186
@pbrisbin My moved repository is a fork of yours, this will not self resolve, I'll "unfork" it. Sec.

[2022-05-04 14:19] mbj commented on #186
done. (via deletion of my fork and re-pushing without fork relationship). please retry. Sorry for not anticipating this, I do not do that operation every day.

[2022-05-04 14:28] pbrisbin commented on #186
Transfer in progress!

[2022-05-04 14:33] mbj commented on #186
Accepted, and its now under my GH account. Thx. Closing this issue.

[2022-05-04 14:33] #186 closed

[2022-07-05 02:05] #185 closed

[2022-07-05 02:07] mbj commented on #184
For anyone watching here the issue is the number of modules running into OSX specific limits on the command line size.

The trick will be to split up this project into many, one per AWS service. Not only removing this issue class altogether, but also making compilation much faster as users will (just like with amazonka) only have to build the subprojects for the AWS features they actually use.

[2022-07-05 03:20] mbj commented on #102
I think that hackage has a smaller timeout than the other services to generate the docs. This and that this library has a huge number of modules creates the situation where this timeout is overrun.

The solution will be roughly the same as #184, split the generated modules out over AWS service specific subpackages.

This will make the individual subpackages assemble docs within that assumed timeou

[2022-09-22 16:55] joris974 opened #194 "Add support for CloudFront ResponseHeadersPolicy"
CloudFront supports attaching a ResponseHeadersPolicy to CloudFront Distribution: https://docs.aws.amazon.com/cloudfront/latest/APIReference/API_ResponseHeadersPolicy.html

This feature also exists in CloudFormation : https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-cloudfront-responseheaderspolicy.html

Is it possible to add support for creating and attaching ResponseHe

[2022-09-22 20:37] mbj commented on #194
@joris974 Its likely that this fields are in the current cloudformation specification and this library "just" has to be regenerated to make this feature available.

Since I took over maintainer-ship I was focusing on aeson-2 support.  And have yet to start regenerating this library. I'd be happy you beat me to it via a PR.

[2022-09-30 16:46] joris974 commented on #194
I am not sure how to regenerate the library.
The Readme is mentioning a `build` script but it doesn't exist in the repo anymore.